# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native build folders
/ios
/android

# Metro
.metro-health-check*

# Debug logs
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# Environment files
.env
.env*.local

# TypeScript
*.tsbuildinfo

# Kotlin
.kotlin/

# Certificates & keys
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# IDE
.idea/
.vscode/

# Misc
app-example/
